.login,.image {
  min-height: 100vh;
}
.container-fluid {
  background-color: #4e5166;
}

.bg-image {
  background-image: url('public/img_et_logos/background.jpg');
  background-size: 40%;
  background-position: center;
}
